/* Basic page branding */

html {

}



div {
  display: block;
}

body {
  background-color: #ffffff;
}

/* Type styles */

h1 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 16rem;
  color: #fff;
  letter-spacing: 30px;
  text-align: center;vertical-align: middle;
}

h2 {
  font-size: 3.8rem;
  font-family: 'Anton', sans-serif;
}

p {
  font-family: 'futura-pt', sans-serif;
  font-weight: 300;
  line-height: 2.3rem;
  font-size: 1.5rem;
}



/* Menu */

.navbar {
  vertical-align: middle;

}

.navbar.container-fluid {
  text-align: left;
  vertical-align: middle;

}

.navbar-default {
  background-color: transparent;
  border-width: 0px;
  display: block;
  display: none;
}

.HOME {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.2rem;
  padding-left: 45px;
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 400px) {

  .navbar {
    background-color: #1c1c1c; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: -64px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }

}



/* Jumbotron - Header */

.jumbotron-mountains {
  background-color: #e8e8e8;
  height: 100vh;
  width: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image:url("../images/Header_BG_01.png");
  background-attachment: Fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
}

.jumbotron .col-xs-12 {
  background-color:;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron h1 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 7rem;
  color: #fff;
  letter-spacing: 28px;
  text-align: center;
  margin-bottom: 40px;
  text-shadow:0px 0px 30px #585858;
}

.title-CTA {
  display: block;
  align-items: center;
}

.annotation {
  background-color: #1c1c1c;
  display: inline-flex;
  color: #fff;
  padding: 15px 20px;
  font-size: 1.2rem;
  font-weight:300;
  letter-spacing: 1px;
  bottom: 0px;
  right: 0px;
  opacity: 0.8;
  position: absolute;
}

.annotation:hover {
  opacity: 1;
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 400px) {


  .jumbotron-mountains {
    background-color: #e8e8e8;
    height: 100vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
    background-image:url("../images/Header_BG_01.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
  }

  .annotation {
    width: 100%;
    display: block;
    text-align: center;
    opacity: 1;
  }

  .jumbotron h1 {
    font-size: 5rem;
    text-align: center;
    justify-content: center;
    letter-spacing: 20px;
  }

  .jumbotron .col-xs-12 {
    padding-bottom: 77px;
  }

  .btn-primary {
    align-items: center;
  }

}



/* Intro section - V3 */

#Kev-mac {
  height: 100vh;
  margin: 60px 0;
  vertical-align: middle;
  display: flex;
}

.row {
  display: flex;
}

#column_01 {
  vertical-align: middle;
  display: block;
  margin: auto 0;

}

.intro-image {
  display: block;
  width: auto;
  height: auto;
  vertical-align: middle;
}

.intro-image_mob {
  display: none;
}

#column_02 {
  padding: 40px 20px 40px 20px;
  margin: auto 0;
}

#column_02 p {
  margin: 30px 0 60px 0;
}

#column_02 .btn-secondary {
  display: block;
  padding: 20px 15px 20px 15px;
  text-align: center;
}


@media only screen and (max-width: 992px) {

  #spacer {
    display: none;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
  }

  #Kev-mac {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    vertical-align: middle;
    height: 70vh;
  }

  #column_01 {
    padding: 0px;
    height: 650px;
    overflow: hidden;
    display: flex;
    vertical-align: middle;
    height: 60vh;
  }

  #column_02 {
    margin-left: 20px;
    padding-right: 0px;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    display: block;
  }

  .intro-image {
    display: flex;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
  }

  .intro-image_mob {
    display: none;
  }


}

@media only screen and (max-width: 400px) {

  .row {
    display: block;
  }

  #Kev-mac {
    height: auto;
    margin-top: 0px;
  }

  #spacer {
    display: none;
  }

  #column_01 {
    padding: 0px;
    height: 200px;
    overflow: hidden;
    display: block;
  }

  #column_02 {
    padding-left: 0px;
    margin-left: 0px;
  }

  .intro-image {
    display: none;
  }


  .intro-image_mob {
    display: flex;
    width: 100%;
    object-fit: cover;
  }

  #column_02 .btn-secondary {
    display: block;
    padding: 20px 20px 20px 20px;
    text-align: center;
    letter-spacing: 2px;
  }

}




/* Gallery section - V2 */

.gallery {
  height: 100vh;
  display: flex;
  background-image: url("../images/Gallery image_01.png");
  background-attachment: scroll;
  background-position: left;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
}

.Faces-places {
  justify-content: center;
  align-items: center;
  display: flex;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}



/* Footer */

footer {
  background-color: #ffffff;
  display: block;
}

.footer-content {
  padding: 36px 26px 26px 26px;
  vertical-align: middle;

}

footer p {
  text-align: center;
  font-size: 1.3rem;
  color: #787878;
  font-weight: 300;
  justify-content: center;
  align-items: center;
}




/* Buttons */

.btn-primary {
  background-color: #1c1c1c;
  border-radius: 30px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 30px 20px 30px;
  letter-spacing: 4px;
  font-family: 'futura-pt', sans-serif;
  font-weight: 600;
  font-size: 12px;
  align-items: center;
}


.btn-primary:hover {
  background-color: #000000;
  transition: 1s;
}

.btn-secondary {
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 25px 20px 25px;
  letter-spacing: 3px;
  font-family: 'futura-pt', sans-serif;
  font-weight: 600;
  font-size: 12px;
  align-items: center;
}

.btn-secondary:hover {
  background-color: #000;
  transition: 0.5s;
  color: #fff
}



.scroll {
  align-items: center;
  display: block;
  bottom: 77px;
  position: absolute;
}

.arrow {
  width: 50px;
  height: 50px;
  color: #ffffff;
  fill: #ffffff;
  padding: 16px 15px 14px 15px;
  border-style: solid;
  border-color: #fff;
  border-width: 2px;
  border-radius: 25px;
  left: auto;
}

.arrow:hover {
  background-color: #f6f6f6;
  fill: #000000;
  transition: 0.25s;
}

.arrow:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  transition: 0.5s;
}
