/* Overarching elements */

body {
  background-color: #ffffff;
}

html {
  display: block;
}

/* ---- */




/* Animations -- Keyframes */

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;;
  }
}

@keyframes animate--pop-in {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* ---- */

/* Animations -- Classes */

.animate--pop-in {
  -webkit-animation: animate--pop-in 1.5s cubic-bezier(0,.57,.51,1) forwards;
    animation: animate--pop-in 1.5s cubic-bezier(0,.57,.51,1) forwards;
  opacity: 0;
}

/* ---- */




/* Hamburger + menu styles */

.hamburger {
  position: fixed;
  z-index: 100;
}

.menu--overlay {
  background-color: #EE726E;
  width: 100%;
  height: 100vh;
  padding: 12% 12% 12% 12%;
  vertical-align: middle;
  display: block;
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  z-index: 72;
  display: none;
}

.main--items {
  width: 50%;
}

.secondary--items {
  padding-top: 40px;
  display: block;
  justify-content: left;
  width: 50%;
}

li.menu--item a{
  font-family: 'big-caslon-fb', serif;
  font-weight: 600;
  font-size: 35pt;
  letter-spacing: 1px;
  color: #fff;
  padding-bottom: 5px;
  display: block;
  padding-left: 0px;
}

li.menu--item:hover a{
  transform: translateX(10px);
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  text-decoration: none;
  color: #000;
}

li.menu--item--small  {
  padding-top: 8px;
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 14pt;
  letter-spacing: 0.4px;
  color: #fff;
}

li.menu--item--small:hover  {
  transform: translateX(4px);
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  color: #404040;
}

span.menu--text {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  color: #000;
  padding-left: 20px;
}

.menu--overlay a {
  color: #fff;
}

.menu--overlay a:hover {
  text-decoration: none;
  color: #000;
}

.divider {
  background-color: #DD4743;
  height: 4px;
  width: 5%;
  margin-top: 40px;
}

/* ---- */




/* Buttons */

.btn-primary {
  font-family: raleway, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  padding: 16px 24px;
  border-radius: 2px;
  background-color: transparent;
  display: inline-block;
}

.btn-primary:hover {
  background-color: #DD4743;
  color: #fff;
  border-color: transparent;
  text-decoration: none;
  transition-duration: 0.3s;
}

.actions .btn-primary {
  width: 210px;
  height: 50px;
  position: relative;
}

.when--where .btn-primary {
  width: 210px;
  height: 50px;
}

.btn-primary.RSVP {
  margin-right: 20px;
}

a .btn-primary {
  text-decoration: none;
}

.btn-secondary {
  font-family: raleway, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  background-color: #E5C5BD;
  padding: 16px 24px;
  border-radius: 2px;
  display: inline-block;
  width: 210px;
}

.btn-secondary:hover {
  background-color: #DD4743;
  color: #fff;
  border-color: transparent;
  text-decoration: none;
  transition-duration: 0.3s;
}

.btn-tertiary {
  font-family: "raleway", sans-serif;
  color: #000;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #D5D5D5;
  padding: 16px 24px;
  border-radius: 2px;
  display: inline-block;
  background-color: transparent;
}

.btn-tertiary:hover {
  background-color: #DD4743;
  color: #fff;
  border-color: transparent;
  text-decoration: none;
  transition-duration: 0.3s;
}

/* ---- */

/* -------------------------------------------------------------------------- */


/* Breakpoints--1366+ */


/* ---- 00 Narrative */

.narrative {
  background-color: #383046;
  display: block;
}

/* ---- */




/* ---- 01 Header - PRIMARY */

header {
  -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;

  background-size: cover;
  padding-left: 20%;
}

header:before {
  -webkit-animation: fade-slide-down 2s 0.3s cubic-bezier(0,.57,.51,1) forwards;
    animation: fade-slide-down 2s 0.3s cubic-bezier(0,.57,.51,1) forwards;

  background-image: url("../images/Header-03.4_75%.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0%;
  position: absolute;
  position: fixed;
  animation-delay: 0.4s;
}

header:after {
  -webkit-animation: rotate-up .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
          animation: rotate-up .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: #383046;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
    right: -5%;
    top: 90%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  z-index: 0;
  display: none;
}

.website--title {
  position: relative;
  top: 6%;
  animation-delay: 1s;
  padding: 0px;
}

.actions {
  display: inline-block;
  margin-top: 40px;
  position: relative;
  animation-delay: 1.2s;
}

.arrow {
  width: 50px;
  height: 50px;
  color: #ffffff;
  padding: 16px 15px 14px 15px;
  border-style: solid;
  border-color: #fff;
  border-width: 2px;
  border-radius: 25px;
  background-color: #fff transparent;
  vertical-align: bottom;
  position: absolute;
  margin: 0px 0px 30px 0px;
  display: flex;
  left: 20%;
  bottom: 0px;
  animation-delay: 1.4s;
  display: none;
}

.arrow:hover {
  background-color: #fff;
  color: #000;
  transition-duration: 0.4s;
  transition-property: background-color color opacity;

}

/* ---- */




/* ---- 02 Story */

.story {
  background-color: #383046;
  position: relative;
  display: block;
  width: 100%;
  padding-top: 30vh;
  z-index: 66;
  display: none;
}

.story--headline {
  padding: 0px 20%;
}

.story--body {
  padding: 0 24% 0 24%;
  position: relative;
  margin-top: 20vh;
}

.story--paragraph {
  padding: 40px 0px 0px 0px;
}

.when--where {
  margin-top: 20vh;
  position: relative;
  padding-bottom: 30vh;
}

.location {
  padding-top: 10px;
  padding-bottom: 50px;
}

/* ---- */




/* ---- 04 Gallery section */

.gallery {
  height: 100vh;
  display: flex;
  background-image: url("../images/Gallery image_01.png");
  background-attachment: fixed;
  background-position: left;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.Faces-places {
  justify-content: center;
  align-items: center;
  display: flex;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  display: none;
}

/* ---- */




/* -------------------------------------------------------------------------- */

/* Breakpoints--992-1366 */

@media only screen and (max-width: 1366px) {

  header {
    padding-left: 16%;
    padding-right: 16%;
  }


  .actions {
    margin-left: ;
  }

  .arrow {
    left: 16%;
    margin-bottom: 16%;
  }


}

/* -------------------------------------------------------------------------- */

/* Breakpoints--768-992 */

@media only screen and (max-width: 992px) {

  h1 {
    font-style: 60pt;
  }

  header {
    padding-left: 8%;
    padding-right: 8%;

  }

  .arrow {
    left: 8%;
    margin-bottom: 8%;
  }

}




/* -------------------------------------------------------------------------- */

/* Breakpoints--600-768 */

@media only screen and (max-width: 767px) {


}


/* -------------------------------------------------------------------------- */


/* Breakpoints--600-768 */

@media only screen and (max-width: 599px) {


}


/* -------------------------------------------------------------------------- */

/* Breakpoints--400 */

/* ---- 01 Jumbotron - Header */

@media only screen and (max-width: 400px) {


}



/* -------------------------------------------------------------------------- */





@media only screen and (max-width: 400px) {


}

/* -------------------------------------------------------------------------- */


/* Footer */

footer {
  display: block;
  z-index: 80;
  border-top: solid #f6f6f6 2px;
}

footer .home {
  display: none;
}

.footer-content {
  padding: 36px 26px 26px 26px;
  vertical-align: middle;
  background-color: #ffffff;
}

footer p {
  text-align: center;
  font-family: "raleway", sans-serif;
  font-weight: 600;
  font-size: 1.0rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #787878;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

/* ---- */
