/* Basic page branding */

html {

}

div {
  display: block;
}

body {
  background-color: #ffffff;
}

/* Type styles */

h1 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 16rem;
  color: #fff;
  letter-spacing: 30px;
  text-align: center;vertical-align: middle;
}

h2 {
  font-size: 3.8rem;
  font-family: 'Anton', sans-serif;
}

p {
  font-family: 'futura-pt', sans-serif;
  font-weight: 300;
  line-height: 2.3rem;
  font-size: 1.5rem;
}



/* Menu */

navbar {
  vertical-align: middle;
}

navbar.container-fluid {
  text-align: left;
  vertical-align: middle;
}

.navbar-default {
  background-color: transparent;
  border-width: 0px;
  display: block;
}

.HOME {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.2rem;
  padding-left: 45px;
}

.scroll {
  align-items: center;
  display: flex;
  bottom: 30px;
  position: absolute;
  width: 100vw;
  justify-content: center;
}

.arrow {
  width: 50px;
  height: 50px;
  color: #ffffff;
  fill: #ffffff;
  padding: 16px 15px 14px 15px;
  border-style: solid;
  border-color: #fff;
  border-width: 2px;
  border-radius: 25px;
  left: auto;
}

.arrow:hover {
  background-color: #f6f6f6;
  fill: #000000;
  transition: 0.25s;
}

.arrow:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  transition: 0.5s;
}

/* Jumbotron */

.carousel {

}

.Jumbotron {
  align-items: center;
  text-align: center;
}

.jumbotron h1 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 7rem;
  color: #fff;
  letter-spacing: 30px;
  text-align: center;
  margin-bottom: 60px;
  text-shadow:0px 0px 30px #585858;
}

.jumbotron-mountains {
  background-position: center;
  Background-size: cover;
  width: 100%;
  background-image:url("../images/Header_BG_01.png");
  background-color: #000000;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
}

.annotation {
  background-color: #1c1c1c;
  color: #fff;
  padding: 15px 20px;
  font-size: 1.2rem;
  font-weight:300;
  letter-spacing: 1px;
  bottom: 0px;
  right: 0px;
  opacity: 0.8;
  position: absolute;
}

.annotation:hover {
  opacity: 1;
}

/* Jumbotron - Media queries */

@media only screen and (max-width: 1100px) {

  .jumbotron h1 {
    font-size: 6rem;
  }

}

@media only screen and (max-width: 400px) {

  .jumbotron h1 {
    font-size: 5rem;
    text-align: center;
    justify-content: center;
    letter-spacing: 20px;
  }

  .annotation {
    display: none;
  }

  .scroll {

  }

}



/* Intro section - V2 */

#mac-and-me {

}

.about-us-02 {
  height: 100vh;
  align-items: center;
  display: flex;
  vertical-align: middle;

}

#column_01 {
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
  display: block;
  justify-content: center;
  margin: auto 0;
  vertical-align: middle;
}

#column_01.image-container {
  padding: 0px;
  display: block;
}

.intro-image_02 {
  display: block;
  background-color: #787878;
  padding: 0px;
  width: 100%;
}

.intro-image_mob {
  display: none;
}

#column_02 {
  height: 100vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

.description {
  display: block;
  vertical-align: middle;
}

#spacer {
  background-color: #fffff;
  height: 100vh;
}

#column_02 p {
  padding-top: 30px;
  padding-bottom: 90px;
}

.image-container {
  display: block;
  vertical-align: middle;
}

@media only screen and (max-width: 992px) {

  #spacer {
    display: none;
  }

  #column_01 {
    height: auto;
  }

  #column_02 {
    height: auto;
  }


}

@media only screen and (max-width: 401px) {

  .col-xs-12 {
  }

  .intro-image_mob {
    display: flex;
    width: 100%;
    margin: auto;
  }

  .intro-image_02 {
    display: none;
  }

  #column_02 {
    padding: 30px 20px 60px 20px;
  }

  #column_02 p {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .btn-secondary {
    padding: 20px;
    letter-spacing: 3px;
    font-family: 'futura-pt', sans-serif;
    font-weight: 600;
    font-size: 12px;
    align-items: center;
  }


}




/* Gallery */

.gallery {
  background-color: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 30px;
  background-image: url("../images/Gallery image_01.png");
  background-attachment: fixed
}

.Faces-places {
  align-items: center;
  display: flex;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}


/* Buttons */

.btn-primary {
  background-color: #1c1c1c;
  border-radius: 30px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 30px 20px 30px;
  letter-spacing: 4px;
  font-family: 'futura-pt', sans-serif;
  font-weight: 600;
  font-size: 12px;
  align-items: center;
}

.btn-primary:hover {
  background-color: #000000;
  transition: 1s;
}

.btn-secondary {
  background-color: #ffffff;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  color: #000;
  text-transform: uppercase;
  padding: 20px 25px 20px 25px;
  letter-spacing: 3px;
  font-family: 'futura-pt', sans-serif;
  font-weight: 600;
  font-size: 12px;
  align-items: center;
}

.btn-secondary:hover {
  background-color: #000;
  transition: 0.5s;
  color: #fff
}

/* Media queries- Gallery section */

@media only screen and (max-width: 1100px) {


}

@media only screen and (max-width: 400px) {


}

/* Footer */

footer {
  background-color: #ffffff;
  display: block;
}

.footer-content {
  padding: 36px 26px 26px 26px;
  vertical-align: middle;

}

footer p {
  text-align: center;
    font-size: 1.3rem;
    color: #787878;
    font-weight: 300;
    justify-content: center;
}
